<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {% block title %}{% endblock %} </title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
		<link rel="stylesheet" href="assets/css/adminlte.css">
	</head>


	<body class="hold-transition sidebar-mini layout-fixed">

		<!-- Site wrapper -->
		<div class="wrapper">

            {% include "components/navbar.html.twig" %}
            {% include "components/sidebar.html.twig" %}
            
            {% block cental_content %}
                
            {% endblock %}

            {% include "components/footer.html.twig" %}
		</div>
		<!-- ./wrapper -->

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/adminlte.min.js"></script>
	</body>
</html>
