<!-- Main Sidebar Container -->
<aside
	class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-2">
	<!-- Brand Logo -->
	<a href="../../index3.html" class="brand-link text-center">
		<span class="brand-text font-weight-light">Matrix</span>
	</a>

	<!-- Sidebar -->
	<div
		class="sidebar">

		<!-- Sidebar Menu -->
		<nav class="mt-3">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-header">MAIN</li>

				<li class="nav-item">
					<a href="../widgets.html" class="nav-link">
						<i class="nav-icon fa fa-dashboard" ></i>
						<p> Tableau de bords </p>
					</a>
				</li>

				<li class="nav-item">
					<a href="../widgets.html" class="nav-link">
					   <i class="nav-icon fa fa-user-plus"></i>
						<p> Utilisateurs </p>
					</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-outdent"></i>
						<p> Equipements
						<i class="fas fa-angle-left right"></i>
						 </p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="../forms/general.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Ajouter</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="../forms/advanced.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Maintenance</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="../widgets.html" class="nav-link">
						<i class="nav-icon fa fa-window-restore" aria-hidden="true"></i>
						<p> Prestataires </p>
					</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-gift"></i>
						<p>
							Fournisseurs
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="../forms/general.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>General Elements</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="../forms/advanced.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Advanced Elements</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="../forms/editors.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Editors</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="../forms/validation.html" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Validation</p>
							</a>
						</li>
					</ul>
				</li>


				<li class="nav-header">PARAMETRAGES</li>

				<li class="nav-item">
					<a href="../gallery.html" class="nav-link">
					  <i class="nav-icon fa fa-lock" aria-hidden="true"></i>
						<p>
							Compte Admin
						</p>
					</a>
				</li>

				<li class="nav-item">
					<a href="../kanban.html" class="nav-link">
						<i class="nav-icon fa fa-cog" aria-hidden="true"></i>
						<p>
							Parametrage
						</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>

